In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [7]:
# 具体步骤：
# 1.获取数据集
# 2.基本数据处理
# 2.1 缩小数据范围
# 2.2 选择时间特征
# 2.3 去掉签到较少的地方
# 2.4 确定特征值和目标值
# 2.5 分割数据集
# 3.特征工程 -- 特征预处理(标准化)
# 4.机器学习 -- knn+cv
# 5.模型评估

In [2]:
# 1.获取数据集
data = pd.read_csv('./data/FBlocation/train.csv')

In [3]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [4]:
data.describe()

,row_id,x,y,accuracy,time,place_id
count,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07,2.911802e+07
mean,1.455901e+07,4.999770e+00,5.001814e+00,8.284912e+01,4.170104e+05,5.493787e+09
std,8.405649e+06,2.857601e+00,2.887505e+00,1.147518e+02,2.311761e+05,2.611088e+09
min,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000016e+09
25%,7.279505e+06,2.534700e+00,2.496700e+00,2.700000e+01,2.030570e+05,3.222911e+09
50%,1.455901e+07,5.009100e+00,4.988300e+00,6.200000e+01,4.339220e+05,5.518573e+09
75%,2.183852e+07,7.461400e+00,7.510300e+00,7.500000e+01,6.204910e+05,7.764307e+09
max,2.911802e+07,1.000000e+01,1.000000e+01,1.033000e+03,7.862390e+05,9.999932e+09

In [5]:
data.shape

(29118021, 6)

In [8]:
# 2.基本数据处理
# 2.1 缩小数据范围
partial_data = data.query('x>2.0 & x<2.5 & y>2.0 & y<2.5')

In [9]:
partial_data.head()

      row_id       x       y  accuracy    time    place_id
163      163  2.1663  2.3755        84  669737  3869813743
310      310  2.3695  2.2034         3  234719  2636621520
658      658  2.3236  2.1768        66  502343  7877745055
1368    1368  2.2613  2.3392        73  319822  9775192577
1627    1627  2.3331  2.0011        66  595084  6731326909

In [10]:
partial_data.shape

(71664, 6)

In [11]:
# 2.2 选择时间特征
partial_data['time'].head()

163     669737
310     234719
658     502343
1368    319822
1627    595084
Name: time, dtype: int64

In [12]:
#  指定秒数
time = pd.to_datetime(partial_data['time'], unit='s')
# 脱敏
time.head()

163    1970-01-08 18:02:17
310    1970-01-03 17:11:59
658    1970-01-06 19:32:23
1368   1970-01-04 16:50:22
1627   1970-01-07 21:18:04
Name: time, dtype: datetime64[ns]

In [13]:
time = pd.DatetimeIndex(time)
time

DatetimeIndex(['1970-01-08 18:02:17', '1970-01-03 17:11:59',
               '1970-01-06 19:32:23', '1970-01-04 16:50:22',
               '1970-01-07 21:18:04', '1970-01-02 03:14:59',
               '1970-01-07 03:45:16', '1970-01-05 03:28:43',
               '1970-01-01 18:59:03', '1970-01-09 07:50:12',
               ...
               '1970-01-09 20:03:34', '1970-01-08 09:26:50',
               '1970-01-07 04:45:59', '1970-01-07 22:36:18',
               '1970-01-06 23:29:43', '1970-01-03 12:31:26',
               '1970-01-04 15:19:20', '1970-01-01 20:49:14',
               '1970-01-03 09:17:37', '1970-01-02 20:34:43'],
              dtype='datetime64[ns]', name='time', length=71664, freq=None)

In [14]:
time.hour

Int64Index([18, 17, 19, 16, 21,  3,  3,  3, 18,  7,
            ...
            20,  9,  4, 22, 23, 12, 15, 20,  9, 20],
           dtype='int64', name='time', length=71664)

In [22]:
partial_data['hour'] = time.hour
partial_data['day'] = time.day
partial_data['weekday'] = time.weekday

D:\Package\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\Package\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Package\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
partial_data.head()

      row_id       x       y  accuracy    time    place_id
163      163  2.1663  2.3755        84  669737  3869813743
310      310  2.3695  2.2034         3  234719  2636621520
658      658  2.3236  2.1768        66  502343  7877745055
1368    1368  2.2613  2.3392        73  319822  9775192577
1627    1627  2.3331  2.0011        66  595084  6731326909

In [16]:
# 2.3 去掉签到较少的地方
place_count = partial_data.groupby('place_id').count()

In [17]:
place_count.head()

            row_id    x    y  accuracy  time
place_id
1006234733       1    1    1         1     1
1008823061       4    4    4         4     4
1012580558       3    3    3         3     3
1025585791      21   21   21        21    21
1026507711     220  220  220       220   220

In [18]:
place_count = place_count[place_count['row_id']>3]
place_count.head()

            row_id    x    y  accuracy  time
place_id
1008823061       4    4    4         4     4
1025585791      21   21   21        21    21
1026507711     220  220  220       220   220
1032417180      10   10   10        10    10
1040557418     123  123  123       123   123

In [19]:
partial_data['place_id'].isin(place_count.index)

163         True
310         True
658         True
1368        True
1627        True
            ...
29116142    True
29116267    True
29116295    True
29116475    True
29117203    True
Name: place_id, Length: 71664, dtype: bool

In [ ]:
# 2.基本数据处理
# 2.1 缩小数据范围
# 2.2 选择时间特征
# 2.3 去掉签到较少的地方
# 2.4 确定特征值和目标值
# 2.5 分割数据集
# 3.特征工程 -- 特征预处理(标准化)
# 4.机器学习 -- knn+cv
# 5.模型评估